<nav class="navbar navbar-defaut navbar-fixed-top navbar-inverse" role="navigation">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">现代浏览器博物馆</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">综述 </a></li>
        <li><a href="#">简述</a></li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">特点<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <li><a href="#tab-chrome">Chrome</a></li>
            <li><a href="#tab-firefox">Firefox</a></li>
            <li><a href="#tab-opera">Opera</a></li>
            <li><a href="#tab-safari">Safari</a></li>
            <li><a href="#tab-ie">IE</a></li>
  </ul>
        </li>
        <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
        </ul>
    </div>
   </div>
   </nav>